.m-AwItemDiv {
    width: 100%;
    margin-top: 2%;
}

.m-aw-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 2%;
    white-space: nowrap;
    letter-spacing: 2px;
}

.m-aw-title-row {
    background-color: #EA7773;
    border-radius: 10px;
}