.navbar-light .navbar-nav .nav-link{
    color: white;
    text-shadow: 2px 1.5px 2px black;
}

.n-item{
    letter-spacing: 3px;
    font-weight: 700;
}

.m-resdiv {
    height: 10vh;
}

.m-resbtn {
    color: black;
    letter-spacing: 5px;
    width: 200px;
    margin: auto;
    background-color: #FAD02E;
    border-radius: 50px;
    box-shadow: 2px 2px #616C6F;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.m-resbtn:focus,
.m-resbtn:hover {
    background-color: #F3B431;
    box-shadow: -1px -1px #616C6F;
    color: #2C3335;
}