.certi-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
}

.certi-org{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.1rem;
	white-space: nowrap;
}

.certi-space{
	margin-top: 3%;
}

.certi-sp{
	margin-top: 1%;
}
