.photo{
	background-color: #EA7773;
	height: 35vh;
}

.index{
	background-color: #EA7773;
	height: 45vh;
	padding: 0;
}

.resdiv{
	background-color: #EA7773;
	height: 20vh;
}

.dp{
	height: 180px;
	margin: auto;
}

.resbtn{
	color: black;
	letter-spacing: 5px;
	width: 200px;
	margin: auto;
	background-color: #FAD02E;
	border-radius: 50px;
	box-shadow: 2px 2px #616C6F;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.resbtn:focus,
.resbtn:hover{
	background-color: #F3B431;
	box-shadow: -1px -1px #616C6F;
	color: #2C3335;
}

.menu-ul{
	margin: auto;
	list-style: none;
	padding: 0;
}

.menu-li{
	color: black;
	letter-spacing: 6px;
	font-size: 25px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 3px;
	font-family: 'Montserrat', sans-serif;
}

.menu-li:hover,
.menu-li:focus{
	transform: translate(3px,-4px);
	letter-spacing: 9px;
	color: white;
	cursor: pointer;
	font-weight: 30px;
	font-weight: 800;
	text-shadow: 2px 2px 10px #000;
}
